.Rproj.user
.Rhistory
.RData
.DS_Store

index.md
index.html
dat/csv/*.csv
dat/*.RData
dat/.DS_Store

figure/*

R/*.pdf
R/.DS_Store

knitr/inc/.DS_Store
knitr/.DS_Store
knitr/*.l*
knitr/*.aux
knitr/*.out
knitr/*.nav
knitr/*.pdf
knitr/*.snm
knitr/*.synctex.gz
knitr/*.tex
knitr/*.toc
